<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/dashboard.css">
  <script src="https://kit.fontawesome.com/b3627f706d.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Personal page</title>
</head>
<body>

  <a href='/users/logout'>Logout</a>
   <!--
<nav>
    <label class="logo"><span id="refresh">ModernSite</span></label>
    <ul>
      <li><i class="fa fa-user-o"></i><a href="#">About</a></li>
      <li><i class="fa fa-briefcase"></i><a href="#">Services</a></li>
      <li><i class="fa fa-pencil"></i><a href="#">Blog</a></li>
      <li><i class="fa fa-envelope"></i><a href="#">Contact</a></li>
      <li><i class="fa fa-search"></i><a href="#">Search</a></li>
    </ul>
   </nav>
   -->   
    
  <!--
   <script>
    let refresh= document.getElementById('refresh');
    let reload=function(){
      window.location.reload()};
    refresh.onclick=reload;

   </script>
   -->
 
   
</body>
</html>

<!--
fix the small-window pop-up navbar view! make it become to the back (aready add a z indexes so if neccery to delete them!)
-->

