*{
  box-sizing: border-box;
}


body{

  background-color: antiquewhite;
  position: absolute;
  margin-left: 44%;
  margin-top: 10%;
}

a{
  color: black;
}
 a:hover{
  font-size: 2rem;
  color: brown;
 }
